@import "styles/mixins.scss";
@import "styles/variables.scss";

.toggle {
  transition: 600ms;
  position: relative;
  border-radius: 1rem;
  font-size: 1.5rem;
  height: 2.2rem;
  margin: 2rem;
  width: 6rem;
  border-width: 2px;
  border-style: solid;
  border-color: $text1;
  color: $text1;
  background-color: transparent;
  user-select: none;

  &:hover {
    @include button-active;
    color: $black;
    background-color: $text1;
    border: 2px solid transparent;
  }

  &--danger {
    color: $danger;
    border-color: $danger;
    background-color: transparent;
  }

  .fa-moon {
    opacity: 0;
  }

  .fa-moon,
  .fa-sun {
    height: 100%;
    width: 100%;
    left: 20%;
    right: auto;
    position: absolute;
  }
}

.dark .toggle {

  .fa-moon {
    opacity: 1;
  }

  .fa-sun {
    opacity: 0;
  }

  .fa-moon,
  .fa-sun {
    left: auto;
    right: 20%;
  }

  &:hover {
    color: $black;
    background-color: $text2--dark;
  }
}