@import "styles/mixins.scss";
@import "styles/variables.scss";

.toggle {
  transition: 600ms;
  position: relative;
  border-radius: 1rem;
  font-size: 1.5rem;
  height: 2rem;
  margin: 2rem;
  width: 4rem;
  border-width: 2px;
  border-style: solid;
  border-color: $text1;
  color: $text1;
  background-color: transparent;
  user-select: none;

  &:hover {
    @include button-active;
    color: $black;
    background-color: $text1;
    border: 2px solid transparent;
  }

  &--danger {
    color: $danger;
    border-color: $danger;
    background-color: transparent;
  }

  .fa-moon,
  .fa-sun {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .fa-moon {
    left: 10%;
    opacity: 0;
  }

  .fa-sun {
    right: 10%;
    opacity: 1;
  }
}

// dark mode
.dark .toggle {
  .fa-moon {
    opacity: 1;
  }

  .fa-sun {
    opacity: 0;
  }

  &:hover {
    color: $black;
    background-color: $text2--dark;
  }
}