$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #090f18;
$bg1: #1f142b;
$bg2: #172135;

$text1: #34d9df;
$text2: #ffed9f;

$weeks: #54c9ff, #48f5fb, #1dd195, #8227cd;
$booked: #eaecb1;
$danger: #f19b19;
$error: #f3a965;
$confirm: #0ecccc;

$spacing: 2rem;